@keyframes drive {
  from {
    left: 5%;
  }
  to {
    left: calc(100% - 80px);
  }
}

.garage {
  &__wrap {
    width: 100%;
    margin-top: 30px;
    color: $color-white;
    text-transform: capitalize;
  }

  &__title {
    margin-top: 20px;
    font-size: 23px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__btn-select {
    margin-right: 10px;
  }

  &__name-auto {
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 17px;
    font-weight: 500;
  }

  &__images {
    position: relative;
    min-height: 60px;
    margin-top: 20px;
    border-bottom: dashed 2px $color-white;
    overflow: hidden;
  }

  &__img-auto {
    position: absolute;
    top: 30px;
    left: 5%;
    width: 80px;
    height: 35px;
    transition: left $transition;

    &.animation-active {
      animation-name: drive;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      transition-property: all $transition;
    }

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  &__img-finish {
    position: absolute;
    top: 0;
    right: 48px;
    @include icon-flag(url('../assets/images/flag.png'));
  }
}

.control-auto {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  z-index: 2;

  &__run {
    margin-right: 5px;
    color: $color-green;
    border: solid 2px $color-green;
    cursor: pointer;

    &:disabled {
      color: $color-gray;
      border-color: $color-gray;
      cursor: auto;

      &:hover {
        color: $color-gray;
        border-color: $color-gray;
      }
    }
  }

  &__stop {
    color: $color-red;
    border: solid 2px $color-red;
    cursor: pointer;

    &:disabled {
      color: $color-gray;
      border-color: $color-gray;
      cursor: auto;

      &:hover {
        color: $color-gray;
        border-color: $color-gray;
      }
    }
  }
}
