.modal {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: none;
  justify-content: center;
  align-items: center;

  &--open {
    display: flex;
  }
}

.winner {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #e8dfdf;
  text-shadow: 0px -2px 4px #f3eeee, 0px -2px 10px #7f8007, 0px -10px 20px #f46e00, 0px -10px 40px #803002;
  font-size: 30px;
}
