.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
  margin-top: 20px;

  &__next,
  &__prev {
    &:disabled {
      background-color: $color-gray;
      cursor: auto;
    }

    &:hover {
      background-color: $color-gray;
    }
  }
}
