@import 'variables.scss';
@import './abstract/mixins.scss';
@import 'main.scss';
@import 'garage.scss';
@import 'control-panel.scss';
@import 'pagination.scss';
@import 'winners.scss';
@import 'header.scss';
@import 'modal.scss';
@import 'winner-modal.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: $color-black;
}

a {
  font-family: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.btn {
  width: 70px;
  padding: 5px 10px;
  background-color: $color-main;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: $color-dark-blue;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color $transition ease;

  &:hover {
    background-color: $hover;
  }
  &:active {
    background-color: $active;
  }

  &:disabled {
    background-color: $color-gray;
    cursor: auto;
  }

  &--panel {
    min-width: 120px;
    min-height: 30px;
  }

  &--page {
    min-width: 120px;
    min-height: 30px;
  }
}

.btn-control {
  width: 25px;
  padding: 3px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: border-color $transition ease, color $transition ease;

  &:hover {
    border-color: $hover;
    color: $hover;
  }
  &:active {
    border-color: $active;
    color: $active;
  }
}

.input {
  width: 50%;
  padding: 10px 25px;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: $color-gray;
  background-color: #fff;
  border: 2px solid $color-gray;
  border-radius: 5px;
  outline: none;

  &:hover {
    border-color: $hover;
  }
  &:focus {
    border-color: $active;
    outline: none;
  }

  &.update-cars__id {
    display: none;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}
