// color

$color-main: #fd2;
$color-dark-blue: #333e48;
$color-gray: #878787;
$color-black: #000;
$color-white: #fff;
$color-modal-title: #333b41;
$color-red: red;
$color-green: green;

// another
$transition: 0.3s;
$hover: #fee456c2;
$active: #ffa811;
$text-shadow: #fc0;
